##Typecasting and Data Conversion

Topics: Data Types, Data Conversion, Typecasting in Dataframes

#Data Types
    
Text Type:	**str** (short for 'string', string of text or numbers) 
Numeric Types:	
    **int** (short for 'integers', aka whole numbers), 
    **float** (includes things such as decimals), 
    **complex** (includes combination of numbers and letters, ex: 6k)
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
 None Type:	NoneType
    
For this we will mainly be working with str, int, and float but I will be making more tutorials on others in the future

In [12]:
#the type() function tells us what class (data type) an item is:
type("R") #str

str

In [13]:
type(2) #int

int

In [14]:
type(2.5) #float

float

#Typecasting/ Data Conversion
- the process of casting/changing data types


##Types of Data Conversion

**Implicit Conversion**- automatically converts one data type to another without the user involvement
- For example: Python will automaticaly in the background change integers to floats in equations

In [1]:
print(2+2.5)

4.5

**Explicit Conversion**- users convert the data type of an object to required data type
- Using predefined functions, INT() FLOAT(), and STR()
- For example: When trying to have an expression show up as part of the output you can use '' and str() function to showcase

In [1]:
str(65)

'65'

In [2]:
int(6)

6

In [3]:
float(6)

6.0

In [2]:
print('2+2.5=' + str(2+2.5))

2+2.5=4.5

This output above now has two strings that were put together where previous there was one string and an integer and a float

##Changing Data In Imported Data

In [5]:
# Import relevant libraries, packages, and modules
import numpy as np
import pandas as pd

In [6]:
#Import your data
palmer_penguins = pd.read_csv("C:\\Users\\jmula\\Documents\\Jupyter Notebooks Python\\penguins.csv")

#note if you're having issues make sure you have double slash for the pathway

#Get sense of the data to know what you need to change
print(palmer_penguins.describe(include='all'))

       species  island  bill_length_mm  bill_depth_mm  flipper_length_mm
count      344     344      342.000000     342.000000         342.000000  \
unique       3       3             NaN            NaN                NaN
top     Adelie  Biscoe             NaN            NaN                NaN
freq       152     168             NaN            NaN                NaN
mean       NaN     NaN       43.921930      17.151170         200.915205
std        NaN     NaN        5.459584       1.974793          14.061714
min        NaN     NaN       32.100000      13.100000         172.000000
25%        NaN     NaN       39.225000      15.600000         190.000000
50%        NaN     NaN       44.450000      17.300000         197.000000
75%        NaN     NaN       48.500000      18.700000         213.000000
max        NaN     NaN       59.600000      21.500000         231.000000

        body_mass_g   sex         year
count    342.000000   333   344.000000
unique          NaN     2          NaN
top             NaN  male          NaN
freq            NaN   168          NaN
mean    4201.754386   NaN  2008.029070
std      801.954536   NaN     0.818356
min     2700.000000   NaN  2007.000000
25%     3550.000000   NaN  2007.000000
50%     4050.000000   NaN  2008.000000
75%     4750.000000   NaN  2009.000000
max     6300.000000   NaN  2009.000000

In [7]:
#same with using the shape
palmer_penguins.shape #you should see 344, 8 which means 508 rows with 13 columns

(344, 8)

To be able to do the things we want to do we need to change the data into a dataframe

In [10]:
#Data into Dataframe 
penguins_df = pd.DataFrame(palmer_penguins, columns=["species","island","bill_length_mm","bill_depth_mm","flipper_length_mm","body_mass_g","sex","year"])

#Dropping Nulls
penguins_df= penguins_df.dropna() 

#Cleaning Up Data
    #we can change the data type in a data frame by using the astype
penguins_df = penguins_df.astype({
               "species": 'string',
                "island": 'string',
                "bill_length_mm" : 'float64', #note for float and int we need to add the 64 bit at the end to ensure we keep with processing system
               "bill_depth_mm" : 'float64',
                "flipper_length_mm" : 'float64',
    "body_mass_g" : 'float64',
        "sex" : 'string',
        "year" : 'int64',
               })

#Viewing to double check the dtype [short for 'data frame type'] went through
penguins_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 333 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            333 non-null    string
 1   island             333 non-null    string
 2   bill_length_mm     333 non-null    float64
 3   bill_depth_mm      333 non-null    float64
 4   flipper_length_mm  333 non-null    float64
 5   body_mass_g        333 non-null    float64
 6   sex                333 non-null    string
 7   year               333 non-null    int64
dtypes: float64(4), int64(1), string(3)
memory usage: 23.4 KB

Now you can see how your dataframe has changed!